.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px 10px 10px;
  @media (max-width: 620px) {
    align-items: center;
  }
}

.path {
  & span {
    color: var(--mantine-color-purple-1);
    font-size: 14px;
    line-height: 20px;
  }
}