.container {
  display: flex;
  flex-direction: column;
  margin: 0 10px 85px 10px;
  width: 980px;
  @media (max-width: 1000px) {
    justify-content: center;
    width: 580px;
  }
  @media (max-width: 600px) {
    width: 300px;
  }
}
.title {
  margin-bottom: 40px;
}

.root{
  align-self: flex-end;
}

.dots{
  display: none;
}

.centerRoot {
  flex-direction: column;
  & p {
  font-weight: 600;
  font-size: 20px;
  }
}

.imageRoot {
  width: 310px;
}

