.root {
  margin: 0 auto;
}

.dots {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group {
  flex-direction: column;
}

.image {
  max-width: 541px;
}

.search {
  justify-content: space-between;
  margin-bottom: 40px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}