.root {
  margin: 0 auto;
}

.dots {
  display: none;
}

.container {
  flex-direction: column;
  width: 980px;
  @media (max-width: 1000px) {
    width: 580px;
  }
  @media (max-width: 600px) {
    width: 300px;
  }
}

.group {
  flex-direction: column;
}

.image {
  max-width: 541px;
}

.search {
  justify-content: space-between;
  margin-bottom: 40px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
