.logo {
  cursor: pointer;
  padding-top: 24px;
  padding-left: 24px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 80px;
}

.center {
  justify-content: flex-start;
}

.image {
  margin-right: 12px;
}
