.card {
  flex-direction: row;
  gap: 16px;
  max-width: 482px;
  background-color: var(--mantine-color-grey-6);
  border-radius: 12px;
  padding: 24px; 
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}
.cardTitle {
  color: var(--mantine-color-purple-1);
  font-weight: 600;
  margin: 0 0 8px 0;
}

.year {
  color: var(--mantine-color-grey-1);
  font-size: 16px;
  margin: 0 0 8px 0;
}

.vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 28px;
}

.average{
  color: var(--mantine-color-grey-0);
  font-size: 16px;
}

.count {
  color: var(--mantine-color-grey-1);
  font-size: 16px;
}

.genres {
  margin: 0;
  color: var(--mantine-color-grey-1);
  & span {
    color: var(--mantine-color-grey-0);
  }
}

.iconStar {
  height: 28px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.modal {
  max-width: 380px;
  max-height: 208px;
  padding: 16px;
  border-radius: 8px;
  & .title {
    color: black;
  }
}
.content {
  border-radius: 8px;
}

.header {
  font-weight: 200;
  border-bottom: 1px solid var(--mantine-color-grey-3);
}

.close {
  color: var(--mantine-color-grey-2);
}

.modalTitle{
  margin-top: 16px;
  font-weight: 700;
}

.fillButton {
  background-color: var(--mantine-color-purple-1);
  border-radius: 8px;
  &:hover {
    background-color: var(--mantine-color-purple-2);
  }
}

.transporentButton {
  color: var(--mantine-color-purple-1);
  &:hover {
    color: var(--mantine-color-purple-2);
  }
}