html,
body {
  height: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  height: 100vh;
  padding-top: 40px;
  background-color: var(--mantine-color-grey-4);
  justify-content: center;
  flex-grow: 1;
}