.root {
  width: 490px;
  @media (max-width: 1000px) {
    width: 400px;
  }
}
.input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
}
.section[data-position='right'] {
  width: 100px;
}

.fillButton {
  background-color: var(--mantine-color-purple-1);
  border-radius: 8px;
  &:hover {
    background-color: var(--mantine-color-purple-2);
  }
  &:active {
    background-color: var(--mantine-color-purple-0);
  }
}