.card {
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  background-color: var(--mantine-color-grey-6);
  border-radius: 12px;
  padding: 24px;
  @media (max-width: 840px) {
    max-width: 600px;
  }
  @media (max-width: 620px) {
    width: 300px;
  }
}
.infoImageWrapper {
  display: flex;
  flex-direction: row;
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.imageRoot {
  @media (max-width: 840px) {
    width: 200px;
  }
  @media (max-width: 620px) {
    width: 100px;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  @media (max-width: 620px) {
    margin-left: 0;
  }
}

.mainInfo {
  flex-direction: column;
  @media (max-width: 620px) {
    align-items: center;
    margin-top: 10px;
  }
}

.title {
  color: var(--mantine-color-purple-1);
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px 0;
  @media (max-width: 620px) {
    text-align: center;
  }
}

.year {
  color: var(--mantine-color-grey-1);
  font-size: 16px;
  margin: 0 0 8px 0;
}

.vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 28px;
}

.average {
  color: var(--mantine-color-grey-0);
  font-size: 16px;
}

.count {
  color: var(--mantine-color-grey-1);
  font-size: 16px;
}

.extraInfo {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.genres {
  margin-top: 12px;
  line-height: 20px;
  color: var(--mantine-color-grey-1);
  & span {
    color: var(--mantine-color-grey-0);
    @media (max-width: 620px) {
      display: block;
    }
  }
}

.label {
  display: inline-block;
  width: 140px;
}
