.container {
  margin-bottom: 24px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 1000px) {
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.root {
  @media (max-width: 1000px) {
    margin-bottom: 10px;
    width: 100%;
  }
}

.label {
  margin-bottom: 8px;
  color: var(--mantine-color-grey-0);
  font-size: 16px; 
  font-weight: 600;
}

.input {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  width: 283px;
  min-height: 42px;

  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
  &[data-expanded] {
    border: 1px solid var(--mantine-color-purple-1);
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.inputField {
  min-height: 28px;
}

.pillsList {
  min-height: 28px;
  & button {
   display: none;
  }
}
.pill {
  background-color: transparent;
  font-size: 14px;
  padding-left: 0;

  &:not(:nth-last-child(2))::after {
    content: ",";
  }
}

.iconUp {
  color: var(--mantine-color-purple-1);
}

.iconDown {
  color: var(--mantine-color-grey-3);
}

.dropdown {
  border-radius: 8px;
}
.option {
  &:hover {
    border-radius: 8px;
    background-color: var(--mantine-color-purple-1);
    color: var(--mantine-color-grey-7);
  }
}

.numberInput {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  width: 137px;
  min-height: 42px;
  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
  &:focus {
    border: 1px solid var(--mantine-color-purple-1);
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.numberRoot {
  align-self: flex-end;
  @media (max-width: 1000px) {
    width: 286px;
  }
  @media (max-width: 600px) {
    width: 146px;
  }
}

.numberControl {
  border: none;
  padding: 0;
  color: var(--mantine-color-grey-2);
  &:hover {
    color: var(--mantine-color-purple-2);
    background-color: transparent;
  }
  &:active {
    color: var(--mantine-color-purple-1);
  }
}

.transparentButton {
  align-self: flex-start;
  margin-top: 35px;
  padding: 0;
  color: var(--mantine-color-purple-1);
  font-weight: 500;
  &:hover {
    color: var(--mantine-color-purple-2);
  }
  &:active {
    color: var(--mantine-color-purple-0);
  }
  &[data-disabled="true"] {
    color: var(--mantine-color-grey-1);
    background-color: transparent;
  }
  @media (max-width: 1000px) {
    align-self: center;
    margin-top: 5px;
  }
}