.container {
  margin-bottom: 24px;
  flex-direction: row;
  justify-content: space-between;
  gap:16px;
}

.label {
  margin-bottom: 8px;
  color: var(--mantine-color-grey-0);
  font-size: 16px; 
  font-weight: 600;
}

.input {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  width: 283px;
  height: 42px;
  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
  &[data-expanded] {
    border: 1px solid var(--mantine-color-purple-1);
  }
}

.inputField {
  display: none;
}
.pillsList {
  & button {
   display: none;
  }
}
.pill {
  background-color: transparent;
  font-size: 14px;
}

.iconUp {
  color: var(--mantine-color-purple-1);
}

.iconDown {
  color: var(--mantine-color-grey-3);
}

.dropdown {
  border-radius: 8px;
}
.option {
  &:hover {
    border-radius: 8px;
    background-color: var(--mantine-color-purple-1);
    color: var(--mantine-color-grey-7);
  }
}
.inputYear {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  width: 283px;
  min-height: 42px;
  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
  &[aria-expanded="true"] {
    border: 1px solid var(--mantine-color-purple-1);
  }
}

.numberInput {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-grey-3);
  width: 137px;
  min-height: 42px;
  &:hover {
    border: 1px solid var(--mantine-color-purple-1);
  }
  &:focus {
    border: 1px solid var(--mantine-color-purple-1);
  }
}

.numberControl {
  border: none;
  padding: 0;
  color: var(--mantine-color-grey-2);
  &:hover {
    color: var(--mantine-color-purple-2);
    background-color: transparent;
  }
  &:active {
    color: var(--mantine-color-purple-1);
  }
} 
.numberRoot {
  align-self: flex-end;
}

.transporentButton {
  align-self: flex-end;
  margin-bottom: 3px;
  padding: 0;
  color: var(--mantine-color-purple-1);
  font-weight: 500;
  &:hover {
    color: var(--mantine-color-purple-2);
  }
  &:active {
    color: var(--mantine-color-purple-0);
  }
}